.modal {
	position: absolute;
	background: #fff;
	left: 50%;
	padding: 1em;
	min-width: 15em;
	min-height: 6em;

	margin: 30% auto;
	border-radius: 4px;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background: rgb(0, 0, 0, 0.5);
}
