.container {
	height: 60vh;
	width: 100%;
}

.mainPoster {
	width: 25em;
	height: 40em;
	background: #cdcdcd;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover; /* или 'contain', в зависимости от желаемого эффекта */
	}
}
